# Default behavior for all text.
* text eol=lf

# Code files should use CRLF for now; sorry unix...
*.kt text eol=lf
*.java text eol=lf
*.json text eol=lf

# Binary files, no touchey.
*.png binary
*.jpg binary